body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(250, 250, 250)
  }
  
  .container{
	width:600px;
	height:500px;
	margin:0 auto;
	padding:0 auto;
}

nav{
    background-color: #0098CC;
    height:70px;
}

.left{
	position: absolute;
    left: 115px;
    top:2px;
    color:white;
}

.logo{
	position: absolute;
    left: 10px;
    top:10px;
    background-image:url("img/logo.png");
    width: 100px;
    height:50px;
}

.right{
	position: absolute;
    right: 10px;
    top:20px;
}
  
  .container div > p span {
    color: red;
  }
  
  p {
    position: relative;
    top: 30px;
  }
  
  p a {
    color: black;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    /*box-shadow: 0 0 20px #0098CC;*/
    transition: 0.4s;
    text-align: center;
  }
  
  .log {
    color: #0098CC;
    background-color: rgba(255, 255, 255, 1);
    border: 0px solid #014b64;
    color:#0098CC;
  }
  
  button:hover {
    color: white;
    width:;
    box-shadow: 0 0 10px #014b64;
    background-color: #014b64;
  }
  
  